.logo {
    background: #1167B1;
    text-align: center;
}


.texto {
    background: linear-gradient(#1167B1,#03254C);
    position: relative;
    text-align: center;
}

h1, h2 {
    font-size: 30px;
    text-align: center;
}

label, p, input {
    font-size: 20px;
    text-align: center;
    margin: 1em 0;
}

button {
    width: 30%;
    margin: 0 auto;
    font-size: 20px;
}

.video {
    background: #03254C;
    width: 540px;
    margin: 0 auto;
}
footer{
    background: linear-gradient(#03254c,black);
}

@media screen and (max-width: 480px) {
    .logo, .video{
        width: auto;
    }

    img, iframe{
        width: 100%;
    }

}